*:not(mat-icon){
  font-family: "Paytone One";
}

.example-full-width{
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.update-button{
  background-color: #049ce2;
  font-size: 1.1em;
}

.cancel-button{
  font-size: 1.1em;
}

.spinner-button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(100, 100, 100);
  padding: 7px 25px;
}
