<h1 class="text-center">Edit Task</h1>

<form [formGroup]="form" class="login-form">

  <app-message *ngIf="form.get('task')?.errors?.['required'] &&
      form.get('task')?.touched"
      message="Required field!" class="text-start">
      </app-message>

  <mat-form-field class="example-full-width " >
    <mat-label >Task</mat-label>
    <input matInput formControlName="task" >
  </mat-form-field>

  <div mat-dialog-actions>
      <button class="login-button" mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      <span class="example-spacer"></span>
    <button class="update-button" mat-raised-button color="primary" [disabled]="form.invalid" (click)="updateTask()">Update</button>
  </div>

</form>
