*:not(mat-icon){
  font-family: "Paytone One";
}

.example-full-width{
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.update-button{
  background-color: #049ce2;
  font-size: 1.1em;
}

.cancel-button{
  font-size: 1.1em;
}
