<div class="background-image">
  <div class="centralize">
    <div class="form">
      <div>
        <h1 class="tittle">EDIT PROFILE</h1>
        <form #myForm="ngForm" [formGroup]="form" class="edit-profile-form" (ngSubmit)="confirm()">
          <mat-form-field class="example-full-width mt-3" >
            <mat-label >Name</mat-label>
            <input matInput formControlName="name" >
          </mat-form-field>


          <app-message
              *ngIf="form.get('email')?.errors?.['existentUser']"
              message="There's already an user registered with this e-mail!" class="text-start"
            ></app-message>

          <mat-form-field class="example-full-width mt-3" >
            <mat-label >E-mail</mat-label>
            <input matInput formControlName="email" >
          </mat-form-field>

          <div class="row">
            <div class="col-6 md-auto  mt-3">
              <button class="cancel-button" mat-raised-button color="warn" type="button" [routerLink]="['/home']" [disabled]="isLoading">Cancel</button>
            </div>
            <div class="col-6 md-auto  mt-3">
              <button class="button" mat-raised-button color="primary" [disabled]="form.invalid ||  isLoading">
                <b *ngIf="!isLoading">Confirm</b>
                <div *ngIf="isLoading" class="spinner-button"><mat-spinner [diameter]="35"></mat-spinner></div>
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
