

<div class="background-image">
  <div class="centralize">
    <div class="form">
      <div>
        <h1 class="login-tittle">Reset your password!</h1>
      <form [formGroup]="form" class="login-form">
        <mat-form-field class="example-full-width " >
          <mat-label >E-mail</mat-label>
          <input matInput formControlName="email" >
        </mat-form-field>

        <mat-form-field class="example-full-width " >
          <mat-label >New Password</mat-label>
          <input matInput formControlName="password" >
        </mat-form-field>

        <mat-form-field class="example-full-width " >
          <mat-label >Confirm the password</mat-label>
          <input matInput formControlName="passwordConfirm" >
        </mat-form-field>

        <mat-form-field class="example-full-width " >
          <mat-label >Confirmation Code</mat-label>
          <input matInput formControlName="code" >
        </mat-form-field>

        <div class="row">
          <div class="col-12 md-auto mt-3">
          <button class="login-button" mat-raised-button color="primary" [disabled]="form.invalid" (click)="confirmNewPassword()">CONFIRM</button>
          </div>
        </div>

      </form>
      </div>
    </div>
  </div>
</div>
