<div class="background-image">
  <div class="centralize">
    <div class="form">
      <div>
        <h1 class="tittle">Change your password!</h1>
        <form #myForm="ngForm" [formGroup]="form" class="edit-profile-form" (ngSubmit)="confirm()">
          <mat-form-field class="example-full-width mt-3" >
            <mat-label >E-mail</mat-label>
            <input matInput formControlName="email" >
          </mat-form-field>

          <mat-form-field class="example-full-width mt-3" >
            <mat-label >New Password</mat-label>
            <input matInput formControlName="password" >
          </mat-form-field>

          <div class="row">
            <div class="col-12 md-auto  mt-3">
              <button class="cancel-button" mat-raised-button color="warn" type="button" [routerLink]="['/home']">Cancel</button>
              <button class="button" mat-raised-button color="primary" [disabled]="form.invalid">Confirm</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
