*{
  font-family: "Paytone One";
}

.tittle{
  font-family: "Paytone One";
  font-size: 30px;
}

.subtittle{
  font-size: 18px;
  color: rgb(66, 66, 66);
}

.example-form{
  width: 100%;
}

.example-full-width{
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
}
