
<div class="background-image">
  <div class="centralize">
    <div class="form">
      <div>
        <h1 class="tittle text-center">Forgot your password?</h1>
        <p class="text-center subtittle">Type your e-mail to receive a confirmation code!</p>
      <form [formGroup]="form" class="login-form">

        <app-message *ngIf="form.get('email')?.errors?.['email'] &&
            form.get('email')?.touched"
            message="Type the e-mail in the correct format!" class="text-start">
            </app-message>

        <mat-form-field class="example-full-width " >
          <mat-label >E-mail</mat-label>
          <input matInput formControlName="email" >
        </mat-form-field>

          <div mat-dialog-actions>
          <button class="login-button" mat-raised-button color="warn" [disabled]="isLoading"  (click)="cancel()">Cancel</button>
            <span class="example-spacer"></span>
          <button class="send-button" mat-raised-button  [disabled]="form.invalid || isLoading" (click)="sendCode()">SEND</button>
          </div>

        <div *ngIf="isLoading" class="spinner" >
          <mat-spinner ></mat-spinner>
        </div>

      </form>
      </div>
    </div>
  </div>
</div>
