/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body{
  background-image: radial-gradient(circle, #46dbf9, #41d9f4, #3cd7f0, #37d5eb, #33d3e6, #37d2e5, #3bd1e5, #3fd0e4, #4ad0e7, #54d1ea, #5ed1ec, #67d1ee);
  margin: 0;
  padding: 0;
}

.mat-progress-bar-fill::after {
  background-color: #25d625;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #009141!important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #16b910;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #2dafff;
  }
